:root {
  --white: #FFFFFF;
  --light-gray: #DDDDDD;
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 10%);
  font-size: 1.1rem;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
  color: var(--white);
  background-color: var(--black);
}

canvas {
  display: block;
}

.container {
  display: flex;
  border-radius: 0.4rem;
  overflow: hidden;
}

aside {
  background-color: var(--dark-gray);
}

.settings {
  padding: 1.8rem;
}

#numberSpan, #frameRateSpan {
  margin-left: 0.7rem;
}

.controller {
  margin-bottom: 2rem;
}

.controller label {
  display: block;
  padding-bottom: 0.6rem;
}
