body{
  margin: 0;

  display: flex;
  justify-content: center;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

canvas {
  display: block;
}

#container{
  display: flex;
}

#left{

}

#right{
  background-color: #EEEEEE;
  width: 254px;
}

#settings{
  padding: 20px;
}